
@media screen and (max-width: 1700px) {
  #profile {
    height: 80vh;
    margin-bottom: 6rem;
  }
  #about {
    height: 90vh;
    margin-bottom: 6rem;
  }
  #experience {
    height: 80vh;
    margin-bottom: 6rem;
  }
  #projects {
    height: 380vh;
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 1600px) {
  #profile {
    height: 80vh;
    margin-bottom: 6rem;
  }
  #about {
    height: 90vh;
    margin-bottom: 6rem;
  }
  #experience {
    height: 80vh;
    margin-bottom: 6rem;
  }
  #projects {
    height: 380vh;
    margin-bottom: 3rem;
  }
    
    
}
@media screen and (max-width: 1500px) {
  #profile {
    height: 80vh;
    margin-bottom: 6rem;
  }
  #about {
    height: 100vh;
    margin-bottom: 6rem;
  }
  #experience {
    height: 80vh;
    margin-bottom: 6rem;
  }
  #projects {
    height: 370vh;
    margin-bottom: 3rem;
  }
    
}
@media screen and (max-width: 1440px) {
    #profile {
      height: 100vh;
      margin-bottom: 6rem;
    }
    #about {
      height: 100vh;
      margin-bottom: 6rem;
    }
    #experience {
      height: 80vh;
      margin-bottom: 10rem;
    }
    #projects {
      height: 360vh;
      margin-bottom: 3rem;
    }
    
}

@media screen and (max-width: 1400px) {
    #profile {
      height: 80vh;
      margin-bottom: 6rem;
    }
    #about {
      height: 83vh;
      margin-bottom: 6rem;
    }
    #experience {
      height: 68vh;
      margin-bottom: 6rem;
    }
    
    .about-containers {
      flex-wrap: wrap;
    }
    .experience-details-container .details-container {
      width: 352px;
    }

    #about,
    #experience,
    #contact,
    #projects {
      height: fit-content;
    }
  }

  @media screen and (max-width: 1366px) {
    #projects {
      height: 590vh;
      margin-bottom: 22rem;
    }
    #contact{
      margin-bottom:10rem;
    }
    #contact,
    footer {
      height: 26vh; 
    }
  }
  
  @media screen and (max-width: 1280px) {
    #projects {
      height: 580vh;
      margin-bottom: 25rem;
    }
    #contact{
      padding-bottom: 15rem;
    }
    #contact,
    footer {
      height: 15vh; 
      margin-bottom: 5rem;
    }
  }

  @media screen and (max-width: 1200px) {

    #desktop-nav {
      display: none;
    }
    #hamburger-nav {
      display: flex;
    }
    #experience,
    .experience-details-container {
      margin-top: 2rem;
    }
    #profile,
    .section-container {
      display: block;
    }
    #profile {
      height: 65vh;
      margin-bottom: 10rem;
    }
    .section__pic-container {
      width: 275px;
      height: 275px;
      margin: 0 auto 2rem;
    }
    .section__pic-container img{
      width: 275px;
      height: 275px;
      margin: 0 auto 2rem;
    }
    .about-containers {
      margin-top: 0;
    }
    .details-container {
      width: 275px;
    }
    .arrow {
      display: none;
    }
    section,
    .section-container {
      height: fit-content;
    }
    section {
      margin: 0 5%;
    }
    #projects {
      height: 480vh;
      margin-bottom: 15rem;
    }
    #contact,
    footer {
      height: 15vh; 
      margin-bottom: 5rem;
      
    }
    .three-body{
      left: 46%;
      bottom: 59%;
      }
  }

  @media screen and (max-width: 1162px) {
    #projects {
      height: 600vh;
      margin-bottom: 10rem;
    }
    #contact,
    footer {
      height: 15vh; 
      margin-bottom: 5rem;
    }
  }
  
  @media screen and (max-width: 1024px) {
    #profile {
      height: 85vh;
      margin-bottom: 0rem;
    }
    #about {
      height: 35vh;
      margin-bottom: 50rem;
    }
    #projects {
      height: 575vh;
      margin-bottom: 0rem;
    }
    #contact,
    footer {
      height: 25vh;
      padding-bottom: 0rem;
      margin-bottom: 0rem;
    }
    .three-body{
      left: 45%;
      bottom: 45%;
      }
  }
  
  @media screen and (max-width: 960px) {
    #profile {
      height: 85vh;
      margin-bottom: 0rem;
    }
    #about {
      height: 35vh;
      margin-bottom: 50rem;
    }
    #projects {
      height: 575vh;
      margin-bottom: 0rem;
    }
    #contact,
    footer {
      height: 25vh;
      padding-bottom: 0rem;
      margin-bottom: 0rem;
    }
    .three-body{
      left: 45%;
      bottom: 45%;
      }
  }

  @media screen and (max-width: 930px) {
    #profile {
      height: 85vh;
      margin-bottom: 0rem;
    }
    #about {
      height: 35vh;
      margin-bottom: 50rem;
    }
    #projects {
      height: 505vh;
      margin-bottom: 40rem;
    }
    #contact,
    footer {
      height: 25vh;
      padding-bottom: 0rem;
      margin-bottom: 0rem;
    }
    .three-body{
      left: 45%;
      bottom: 45%;
      }
  }
  
  @media screen and (max-width: 930px) {
    #profile {
      height: 85vh;
      margin-bottom: 0rem;
    }
    #about {
      height: 35vh;
      margin-bottom: 50rem;
    }
    #projects {
      height: 505vh;
      margin-bottom: 40rem;
    }
    #contact,
    footer {
      height: 25vh;
      padding-bottom: 0rem;
      margin-bottom: 0rem;
    }
    .three-body{
      left: 45%;
      bottom: 45%;
      }
  }
  @media screen and (max-width: 900px) {
    #profile {
      height: 85vh;
      margin-bottom: 0rem;
    }
    #about {
      height: 35vh;
      margin-bottom: 50rem;
    }
    #projects {
      height: 585vh;
      margin-bottom: 50rem;
    }
    #contact,
    footer {
      height: 25vh;
      padding-bottom: 0rem;
      margin-bottom: 0rem;
    }
    .three-body{
      left: 45%;
      bottom: 45%;
      }
  }
  @media screen and (max-width: 888px) {
    #profile {
      height: 85vh;
      margin-bottom: 0rem;
    }
    #about {
      height: 35vh;
      margin-bottom: 50rem;
    }
    #projects {
      height: 655vh;
      margin-bottom: 50rem;
    }
    #contact,
    footer {
      height: 25vh;
      padding-bottom: 0rem;
      margin-bottom: 0rem;
    }
    .three-body{
      left: 45%;
      bottom: 45%;
      }
  }
  @media screen and (max-width: 860px) {
    #profile {
      height: 85vh;
      margin-bottom: 0rem;
    }
    #about {
      height: 35vh;
      margin-bottom: 50rem;
    }
    #projects {
      height: 655vh;
      margin-bottom: 50rem;
    }
    #contact,
    footer {
      height: 25vh;
      padding-bottom: 0rem;
      margin-bottom: 0rem;
    }
    .three-body{
      left: 45%;
      bottom: 45%;
      }
  }
  @media screen and (max-width: 820px) {
    #profile {
      height: 85vh;
      margin-bottom: 0rem;
    }
    #about {
      height: 35vh;
      margin-bottom: 50rem;
    }
    #projects {
      height: 625vh;
      margin-bottom: 50rem;
    }
    #contact,
    footer {
      height: 25vh;
      padding-bottom: 0rem;
      margin-bottom: 0rem;
    }
    .three-body{
      left: 45%;
      bottom: 45%;
      }
  }

  @media screen and (max-width: 800px) {
    
    #contact,
    footer {
      height: 50vh;
      padding-bottom: 3rem;
    }
    .three-body{
      left: 45%;
      bottom: 55%;
      }
  }

  
  @media screen and (max-width: 780px) {
    #profile {
      height: 80vh;
      margin-bottom: 2rem;
    }
    #about{
      height: 80vh;
      margin-bottom: 25rem;
    }
    #projects {
      height: 980vh;
      margin-bottom: 5rem;
    }

    #contact {
      margin-bottom: 8rem;
      padding: 0;
    }
    #contact,
    footer {
      height: 31vh;

    }

    .three-body{
      left: 40%;
      bottom: 45%;
      }
  }
  

  @media screen and (max-width: 720px) {
    #profile {
      height: 80vh;
      margin-bottom: 2rem;
    }
    #about{
      height: 80vh;
      margin-bottom: 25rem;
    }
    #projects {
      height: 890vh;
      margin-bottom: 0rem;
    }

    #contact {
      margin-bottom: 8rem;
      padding: 0;
    }
    #contact,
    footer {
      height: 31vh;

    }

    .three-body{
      left: 40%;
      bottom: 45%;
      }
  }
  
  @media screen and (max-width: 600px) {
    #about {
      height: 95vh;
      margin-bottom: 30rem;
    }
    #profile {
      height: 80vh;
      margin-bottom: 5rem;
    }
    #projects {
      height: 600vh;
      margin-bottom: 30rem;
    }
    #contact {
      margin-bottom: 8rem;
      padding: 0;
    }
    #contact,
    footer {
      height: 20vh;
      margin-bottom: 2rem;
    }
    article {
      font-size: 1rem;
    }
    footer nav {
      height: fit-content;
      margin-bottom: 2rem;
    }
    .about-containers,
    .contact-info-upper-container,
    .btn-container {
      flex-wrap: wrap;
    }
    .contact-info-container {
      margin: 0;
    }
    .contact-info-container p,
    .nav-links li a {
      font-size: 1rem;
    }
    .experience-sub-title {
      font-size: 1.25rem;
    }
    .logo {
      font-size: 1.5rem;
    }
    .nav-links {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }
    .section__pic-container {
      width: auto;
      height: auto;
      justify-content: center;
    }
    .section__text__p2 {
      font-size: 1.25rem;
    }
    .title {
      font-size: 2rem;
    }
    .text-container {
      text-align: justify;
    }

    .three-body{
      left: 45%;
      bottom: 45%;
      }
  }

  @media screen and (max-width: 500px) {
    #profile {
      height: 80vh;
      margin-bottom: 2rem;
    }
    #about{
      height: 100vh;
      margin-bottom: 25rem;
    }
    #projects {
      height: 560vh;
      margin-bottom: 0rem;
    }

    #contact {
      margin-bottom: 8rem;
      padding: 0;
    }
    #contact,
    footer {
      height: 31vh;

    }

    .three-body{
      left: 40%;
      bottom: 45%;
      }
  }
  

  @media screen and (max-width: 480px) {
    #profile {
      height: 80vh;
      margin-bottom: 2rem;
    }
    #about{
      height: 120vh;
      margin-bottom: 25rem;
    }
    #projects {
      height: 580vh;
      margin-bottom: 8rem;
    }

    #contact {
      margin-bottom: 8rem;
      padding: 0;
    }
    #contact,
    footer {
      height: 31vh;

    }

    .three-body{
      left: 40%;
      bottom: 45%;
      }
  }
  @media screen and (max-width: 450px) {
    #profile {
      height: 80vh;
      margin-bottom: 2rem;
    }
    #about{
      height: 120vh;
      margin-bottom: 25rem;
    }
    #projects {
      height: 830vh;
      margin-bottom: 0rem;
    }

    #contact {
      margin-bottom: 8rem;
      padding: 0;
    }
    #contact,
    footer {
      height: 31vh;

    }

    .three-body{
      left: 40%;
      bottom: 45%;
      }
  }
  @media screen and (max-width: 430px)  {
    #profile {
      height: 100vh;
      margin-bottom: 19rem;
    }
    #about{
      height: 120vh;
      margin-bottom: 25rem;
    }
    #projects {
      height: 860vh;
      margin-bottom: 15rem;
    }

    #contact {
      margin-bottom: 8rem;
      padding: 0;
    }
    #contact,
    footer {
      height: 25vh;

    }

    .three-body{
      left: 40%;
      bottom: 45%;
      }
  }
  @media screen and (max-width: 414px) {
    #profile {
      height: 80vh;
      margin-bottom: 20rem;
    }
    #about{
      height: 130vh;
      margin-bottom: 25rem;
    }
    #projects {
      height: 860vh;
      margin-bottom: 0rem;
    }

    #contact {
      margin-bottom: 8rem;
      padding: 0;
    }
    #contact,
    footer {
      height: 25vh;

    }

    .three-body{
      left: 40%;
      bottom: 45%;
      }
  }
  
 
  @media screen and (max-width: 400px) {
    #projects {
      height: 730vh;
      margin-bottom: 50rem;
    }

    #profile {
      height: 80vh;
      margin-bottom: 20rem;
    }
    #about {
      height: 110vh;
      margin-bottom: 20rem;
    }
    
    .three-body{
      left: 40%;
      bottom: 45%;
      }
  }
  
  @media screen and (max-width: 390px)  {
    #profile {
      height: 80vh;
      margin-bottom: 20rem;
    }
    #about{
      height: 140vh;
      margin-bottom: 25rem;
    }
    #projects {
      height: 920vh;
      margin-bottom: 4rem;
    }

    #contact {
      margin-bottom: 8rem;
      
    }
    #contact,
    footer {
      height: 25vh;
      margin-bottom: 1rem;

    }

    .three-body{
      left: 40%;
      bottom: 45%;
      }
  }

  @media screen and (max-width: 375px) {
    #profile {
      height: 80vh;
      margin-bottom: 2rem;
    }
    #about {
      height: 130vh;
      margin-bottom: 25rem;
    }
    #projects {
      height: 1140vh;
      margin-bottom: 10rem;
    }
  
    #contact,
    footer {
      height: 31vh;
    }
  
    .three-body {
      left: 40%;
      bottom: 45%;
    }
  }
  

  
  @media screen and (max-width: 360px){
    #profile {
      height: 80vh;
      margin-bottom: 2rem;
    }
    #about{
      height: 180vh;
      margin-bottom: 25rem;
    }
    #projects {
      height: 1030vh;
      margin-bottom: 0rem;
    }

    #contact {
      margin-bottom: 8rem;
      padding: 0;
    }
    #contact,
    footer {
      height: 31vh;

    }

    .three-body{
      left: 40%;
      bottom: 45%;
      }

  }
 
  @media screen and (max-width: 320px) {
    #about {
      height: 140vh;
    }
    #projects {
      height: 750vh;
      margin-bottom: 20rem;
    }
  }
  
  @media screen and (device-width: 1024px) and (device-height: 1366px) {
    #profile {
      height: 53vh;
    }
    #about {
      height: 20vh;
    }
    #projects {
      height: 370vh;
      margin-bottom: 20rem;
    }
    .three-body{
      left: 45%;
      bottom: 50%;
      }
  }
  @media screen and (device-width: 800px) and (device-height: 1280px) {
    #profile {
      height: 53vh;
    }
    #about {
      height: 25vh;
    }
    #projects {
      height: 490vh;
      margin-bottom: 25rem;
    }
    #contact,
    footer {
      height: 11vh;
      margin-bottom: 10rem;

    }
    .three-body{
      left: 45%;
      bottom: 50%;
      }
  }
  @media screen and (device-width: 820px) and (device-height: 1180px) {
    #profile {
      height: 40vh;
      margin-bottom: 20rem;
    }
    #projects {
      height: 530vh;
      margin-bottom: 20rem;
    }
    .three-body{
      left: 45%;
      bottom: 49%;
      }
  }
  @media screen and (device-width: 712px) and (device-height: 1138px) {
    #profile {
      height: 40vh;
      margin-bottom: 20rem;
    }
    #about {
      height: 75vh;
      margin-bottom: 20rem;
    }
    #projects {
      height: 760vh;
      margin-bottom: 20rem;
    }
    #contact,
    footer {
      height: 11vh;
    }
    .three-body{
      left: 45%;
      bottom: 49%;
      }
  }
  @media screen and (device-width: 768px) and (device-height: 1024px) {
    #about {
      height: 70vh;
      margin-bottom: 30rem;
    }
    
    #projects {
      height: 670vh;
      margin-bottom: 20rem;
    }
    #contact,
    footer {
      height: 10vh;
    }
    .three-body{
      left: 45%;
      bottom: 49%;
      }
  }
  @media screen and (device-width: 430px) and (device-height: 932px) {
    #profile {
      height: 45vh;
    }
    #about {
      height: 115vh;
      margin-bottom: 30rem;
    }
    
    #projects {
      height: 870vh;
      margin-bottom: 15rem;
    }
    #contact,
    footer {
      height: 8vh;
    }
    .three-body{
      left: 40%;
      bottom: 49%;
      }
  }
  @media screen and (device-width: 412px) and (device-height: 915px) {
    #profile {
      height: 50vh;
    }
    #about {
      height: 120vh;
      margin-bottom: 30rem;
    }
    
    #projects {
      height: 870vh;
      margin-bottom: 15rem;
    }
    #contact,
    footer {
      height: 10vh;
    }
    .three-body{
      left: 40%;
      bottom: 49%;
      }
  }
  @media screen and (device-width: 412px) and (device-height: 914px) {
    #profile {
      height: 50vh;
    }
    #about {
      height: 120vh;
      margin-bottom: 30rem;
    }
    
    #projects {
      height: 870vh;
      margin-bottom: 15rem;
    }
    #contact,
    footer {
      height: 10vh;
    }
    .three-body{
      left: 40%;
      bottom: 49%;
      }
  }
  @media screen and (device-width: 414px) and (device-height: 896px) {
    #profile {
      height: 50vh;
    }
    #about {
      height: 150vh;
      margin-bottom: 15rem;
    }
    
    #projects {
      height: 880vh;
      margin-bottom: 15rem;
    }
    #contact,
    footer {
      height: 10vh;
    }
    .three-body{
      left: 40%;
      bottom: 49%;
      }
  }
  @media screen and (device-width: 344px) and (device-height: 882px) {
    #profile {
      height: 50vh;
    }
    #about {
      height: 150vh;
      margin-bottom: 30rem;
    }
    
    #projects {
      height: 890vh;
      margin-bottom: 15rem;
    }
    #contact,
    footer {
      height: 10vh;
    }
    .three-body{
      left: 40%;
      bottom: 49%;
      }
  }
  @media screen and (device-width: 390px) and (device-height: 844px) {
    #profile {
      height: 50vh;
    }
    #about {
      height: 130vh;
      margin-bottom: 30rem;
    }
    
    #projects {
      height: 900vh;
      margin-bottom: 20rem;
    }
    #contact {
      margin-bottom: 8rem;

    }
    #contact,
    footer {
      height: 10vh;
    }
    .three-body{
      left: 40%;
      bottom: 49%;
      }
  }
  @media screen and (device-width: 360px) and (device-height: 740px) {
    #profile {
      height: 55vh;
    }
    #about {
      height: 170vh;
      margin-bottom: 20rem;
    }
    
    #projects {
      height: 1000vh;
      margin-bottom: 15rem;
    }
    #contact,
    footer {
      height: 11vh;
    }
    .three-body{
      left: 40%;
      bottom: 49%;
      }
  }
  @media screen and (device-width: 375px) and (device-height: 667px) {
    #profile {
      height: 60vh;
      margin-bottom: 20rem;
    }
    #about {
      height: 200vh;
      margin-bottom: 25rem;
    }
    
    #projects {
      height: 1130vh;
      margin-bottom: 20rem;
    }
    .three-body{
      left: 40%;
      bottom: 49%;
      }
  }
  @media screen and (device-width: 320px) and (device-height: 658px) {
    #profile {
      height: 60vh;
    }
    #about {
      height: 200vh;
      margin-bottom: 30rem;
    }
    
    #projects {
      height: 1150vh;
      margin-bottom: 20rem;
    }
    .three-body{
      left: 40%;
      bottom: 49%;
      }
  }
  @media screen and (device-width: 360px) and (device-height: 640px) {
    #profile {
      height: 70vh;
    }
    #about {
      height: 250vh;
      margin-bottom: 0rem;
    }
    
    #projects {
      height: 1150vh;
      margin-bottom: 20rem;
    }
    #contact,
    footer {
      height: 11vh;
    }
    .three-body{
      left: 40%;
      bottom: 49%;
    }
  }
  
  