
@media screen and (max-width: 1680px) {
    #about {
      height: 130vh;
    }
    #experience {
      height: 110vh;
      margin-bottom: 3rem;
    }
    #projects {
      height: 495vh;
      margin-bottom: 3rem;
    }
}
@media screen and (max-width: 1600px) {
    #projects {
      height: 399vh;
      margin-bottom: 3rem;
    }
}
@media screen and (max-width: 1440px) {
    #profile {
      height: 100vh;
      margin-bottom: 6rem;
    }
    #about {
      height: 120vh;
      margin-bottom: 6rem;
    }
    #experience {
      height: 120vh;
      margin-bottom: 6rem;
    }
    #projects {
      height: 459vh;
      margin-bottom: 3rem;
    }
}

@media screen and (max-width: 1400px) {
    #profile {
      height: 80vh;
      margin-bottom: 6rem;
    }
    #about {
      height: 83vh;
      margin-bottom: 6rem;
    }
    #experience {
      height: 68vh;
      margin-bottom: 6rem;
    }
    .about-containers {
      flex-wrap: wrap;
    }
    .experience-details-container .details-container {
      width: 352px;
    }

    #about,
    #experience,
    #contact,
    #projects {
      height: fit-content;
    }
  }

  @media screen and (max-width: 1366px) {
    #projects {
      height: 590vh;
      margin-bottom: 22rem;
    }
    #contact{
      margin-bottom:10rem;
    }
    #contact,
    footer {
      height: 26vh; 
    }
  }
  
  @media screen and (max-width: 1280px) {
    #projects {
      height: 580vh;
      margin-bottom: 25rem;
    }
    #contact,
    footer {
      height: 15vh; 
      margin-bottom: 5rem;
    }
  }
 

  @media screen and (max-width: 800px) {
    
    #contact,
    footer {
      height: 50vh;
      padding-bottom: 3rem;
    }
    .three-body{
      left: 45%;
      bottom: 55%;
      }
  }

  @media screen and (max-width: 768px) {
    
    
    #about {
      height: 200vh;
    }
    #experience {
      padding-top: 20rem;
    }

    #contact {
      position: relative;
      top: 39rem;

    }

    footer  {
      padding-top: 30rem;
      margin-bottom: 0;
    }
    
  }
  
  @media screen and (max-width: 1200px) {

    #desktop-nav {
      display: none;
    }
    #hamburger-nav {
      display: flex;
    }
    #experience,
    .experience-details-container {
      margin-top: 2rem;
    }
    #profile,
    .section-container {
      display: block;
    }
    #profile {
      height: 65vh;
      margin-bottom: 10rem;
    }
    .section__pic-container {
      width: 275px;
      height: 275px;
      margin: 0 auto 2rem;
    }
    .section__pic-container img{
      width: 275px;
      height: 275px;
      margin: 0 auto 2rem;
    }
    .about-containers {
      margin-top: 0;
    }
    .details-container {
      width: 275px;
    }
    .arrow {
      display: none;
    }
    section,
    .section-container {
      height: fit-content;
    }
    section {
      margin: 0 5%;
    }
    #projects {
      margin-bottom: 10rem;
    }
    #contact,
    footer {
      height: 25vh;
      
    }
    .three-body{
      left: 46%;
      bottom: 59%;
      }
  }

  @media screen and (max-width: 1024px) {
    #profile {
      height: 50vh;
      margin-bottom: 1rem;
    }
    #about {
      height: 83vh;
      margin-bottom: 1rem;
    }
    
    #projects {
      height: 320rem;
      margin-bottom: 19rem;
    }
    #contact{
      padding-bottom: 2rem;
    }
    footer {
      height: 32vh;
      margin-bottom: 20rem;
      padding-bottom: 2rem;
    }
    
    .three-body{
      left: 46%;
      bottom: 55%;
      }
  }
  
  @media screen and (max-width: 1024px) {
    #projects {
      height: 320rem;
      margin-bottom: 22rem;
    }
    #contact {
      padding-bottom: 18rem;
    }

    #contact,
    footer {
      height: 25vh;
      margin-bottom: 0;
    }
    .three-body{
      left: 46%;
      bottom: 55%;
      }
  }
  
  @media screen and (max-width: 820px) {
    #contact {
      padding-top: 85rem;
    }
    #contact,
    footer {
      height: 45vh;
      margin-top: 20rem;
      padding-bottom: 0;
      margin-bottom: 2rem;

    }
    .three-body{
      left: 45%;
      bottom: 59%;
      }
  }

  @media screen and (max-width: 780px) {
    #about {
      height: 100vh;
      margin-bottom: 10rem;
    }
    #profile {
      height: 62vh;
      margin-bottom: 2rem;
    }
    #contact,
    footer {
      height: 37vh;
      padding-bottom: 0rem;
      margin-bottom: 0rem;

    }
    .three-body{
      left: 45%;
      bottom: 45%;
      }
  }
  @media screen and (max-width: 720px) {
    
    #profile {
      height: 45vh;
      margin-bottom: 1rem;
    }
    #about{
      height: 65vh;
      margin-bottom: 10rem;
    }
    #projects {
      height: 550vh;
    }

    #contact{
      padding-top: 10rem;
    }

    footer {
      padding-bottom: 30rem;
    }
    
    .three-body{
      left: 45%;
      bottom: 75%;
      }
  }

  @media screen and (max-width: 712px) {
    #projects {
      height: 2200vh;
    }
    #contact,
    footer {
      height: 45vh;
      padding-bottom: 2rem;
    }
    .three-body{
      left: 45%;
      bottom: 45%;
      }
  }
  
  @media screen and (max-width: 600px) {
    #contact,
    footer {
      height: 35vh;
    }
    #profile {
      height: 80vh;
      margin-bottom: 5rem;
    }
    #projects {
      height: 800vh;
      margin-bottom: 10rem;
    }
    article {
      font-size: 1rem;
    }
    footer nav {
      height: fit-content;
      margin-bottom: 2rem;
    }
    .about-containers,
    .contact-info-upper-container,
    .btn-container {
      flex-wrap: wrap;
    }
    .contact-info-container {
      margin: 0;
    }
    .contact-info-container p,
    .nav-links li a {
      font-size: 1rem;
    }
    .experience-sub-title {
      font-size: 1.25rem;
    }
    .logo {
      font-size: 1.5rem;
    }
    .nav-links {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }
    .section__pic-container {
      width: auto;
      height: auto;
      justify-content: center;
    }
    .section__text__p2 {
      font-size: 1.25rem;
    }
    .title {
      font-size: 2rem;
    }
    .text-container {
      text-align: justify;
    }

    .three-body{
      left: 45%;
      bottom: 45%;
      }
  }

  @media screen and (max-width: 430px) {
    #about {
      height: 120vh;
    }
    #projects {
      height: 780vh;
    }
    #contact,
    footer {
      height: 31vh;

    }
  }
  @media screen and (max-width: 420px) {
    #projects {
      height: 995vh;
    }
  }

  @media screen and (max-width: 414px) {
    #profile {
      height: 80vh;
      margin-bottom: 2rem;
    }
    #about{
      height: 100vh;
      margin-bottom: 25rem;
    }
    #projects {
      height: 790vh;
      
    }

    #contact,
    footer {
      height: 31vh;

    }

    .three-body{
      left: 40%;
      bottom: 45%;
      }
  }
 
  @media screen and (max-width: 400px) {
    #projects {
      height: 1080vh;
      margin-bottom: 10rem;
    }

    #contact,
    footer{
      margin-top: 10rem;
    }

    #profile {
      height: 80vh;
      margin-bottom: 5rem;
    }
    #about {
      height: 210vh;
      margin-bottom: 5rem;
    }

    .three-body{
      left: 40%;
      bottom: 45%;
      }
  }
  
  @media screen and (max-width: 390px) {
    #profile {
      height: 85vh;
    }
    #about {
      height: 145vh;
    }
    
    #projects {
      height: 840vh;
      margin-bottom: 10rem;
    }

    #contact {
      padding-bottom: 10rem;
    }
    #contact,
    footer {
      height: 31vh;

    }

    .three-body{
      left: 40%;
      bottom: 45%;
      }
  }

  @media screen and (max-width: 375px) {
    
    #about {
      height: 195vh;
    }
    
    #projects {
      height: 1050vh;
      margin-bottom: 0;
    }
    
    #contact,
    footer {
      margin-bottom: 2rem;
    }
  }

  
  @media screen and (max-width: 360px) {
    #profile {
      height: 90vh;
      margin-bottom: 5rem;
    }
    #about{
      height: 215vh;
    }

    #projects {
      height: 1105vh;
      margin-bottom: 0;
    }

    #contact{
      padding-top: 1rem;
      margin-top: 0;
    }

    footer {
      padding-bottom: 4rem;
    }

    .three-body{
    left: 40%;
    bottom: 45%;
    }

  }
 
